.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
  
  }