.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

.videoTag {
  height: 100%;
  width: 100%;
}
.a {
  color: black;
  text-decoration: none;
}

.dDivs {
  display: flex;
  align-items: center;
  justify-content: center;
}