.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: black;
}

.videoTag {
  height: 100%;
  width: 100%;
}
.a {
  color: black;
  text-decoration: none;
}

.dDivs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2vh;
}
.page-heading {
  margin-top: 2vmax;
}
.founders{
  margin-top: 3em;
}

.founding-mission{
  color: slategray;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}