.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}
.dDivs {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 30vmin);
  grid-template-rows: repeat(3, 30vmin);
}